{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - block_content: Block content entity instance with all available fields.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  'block--spacing',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-lb-related-articles'
] %}

{{ attach_library('lb_related_articles_blocks/lb_related_articles_block') }}
<div{{ attributes.addClass(classes).setAttribute('id', plugin_id|clean_class ~ configuration['block_revision_id']) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {% if block_content.field_section_title.value %}
      <div class="section-description">
        <div class="container">
          <div class="row flex-sm-row flex-column justify-content-between align-items-baseline">
            <h3>{{ block_content.field_section_title.value }}</h3>
            {% if content.field_related_link %}
              <div class="link">
                {{ content.field_related_link }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    <div class="items">
      {{ items }}
    </div>
  {% endblock %}
</div>
